{% block body %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</div>
{% if app.user %}

<div class="card">
  <div class="card-body">
    Hey {{ app.user.nombre }} ya haz iniciado sesión, ¿Quiéres <a href="{{ path('app_logout') }}">cerrar sesión</a>?

  </div>

  {% endif %}





  <section class="vh-100" style="background-color: #0dcaf0;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img
                  src="https://image.slidesharecdn.com/brochure2008-espanol-100715005559-phpapp01/75/telconet-14-2048.jpg?cb=1668153678"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">

                  <form method="post">
                    {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}


                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                      <span class="h1 fw-bold mb-0">Login</span>
                    </div>

                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>

                    <div class="form-outline mb-4">
                      <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                        autocomplete="email" required autofocus>
                      <label class="form-label" for="form2Example17">Email address</label>
                    </div>

                    <div class="form-outline mb-4">
                      <input type="password" name="password" id="inputPassword" class="form-control"
                        autocomplete="current-password" required>
                      <label class="form-label" for="form2Example27">Password</label>
                      <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    </div>

                    <div class="pt-1 mb-4">
                      <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
                    </div>

                    
                    <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="{{path('app_register')}}"
                        style="color: #393f81;">Register here</a></p>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  {% endblock %}