<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   
    {% if app.user %}



    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Dashboard</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
                        <a class="nav-link" href="{{path('app_principal')}}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Incidentes</a>
                    </li>
                    
				</ul>


			</div>
            <div class="d-flex justify-content-around">

                    {%if app.user %}
                    <a type="button" class="btn btn-primary me-3" href="{{path('app_logout')}}">
                        Cerra sesion
                    </a>
                    {% else %}
                    <a type="button" class="btn btn-primary me-3" href="{{path('app_login')}}">
                        Login
                    </a>
                    {% endif %}
                    
                    
                </div>

		</div>
	</nav>
    {% endif %}





    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>
    {% block body %}{% endblock %}
</body>

</html>