{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
       <!-- Section: Design Block -->
<section class="text-center text-lg-start">
  <style>
    .cascading-right {
      margin-right: -50px;
    }

    @media (max-width: 991.98px) {
      .cascading-right {
        margin-right: 0;
      }
    }
  </style>

  <!-- Jumbotron -->
  <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
          <div class="card-body p-5 shadow-5 text-center">
            <h2 class="fw-bold mb-5">Registrarse</h2>

            {{ form_start(registrationForm) }}
            <form >
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    {{ form_row(registrationForm.nombre) }}
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    {{ form_row(registrationForm.apellido) }}
                  </div>
                </div>
                
              </div>
              
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                     {{ form_row(registrationForm.rol) }}

                  </div>
              </div>

              <!-- Email input -->
              <div class="form-outline mb-4">
                {{ form_row(registrationForm.email) }}
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                 {{ form_row(registrationForm.plainPassword) }}
              </div>

              <!-- Checkbox -->
              <div class="form-check d-flex justify-content-center mb-4">
                {{ form_row(registrationForm.agreeTerms) }}
              </div>
  
              <button type="submit" class="btn btn-primary btn-block mb-4" >Registrarse</button>

            </form>
            {{ form_end(registrationForm) }}
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0">
        <img src="https://image.slidesharecdn.com/brochure2008-espanol-100715005559-phpapp01/75/telconet-14-2048.jpg?cb=1668153678" class="w-100 rounded-4 shadow-4"
          alt="" />
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->
{% endblock %}
