{% extends 'base.html.twig' %}

{% block title %}Hello PrincipalController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    

    <!-- Content -->
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 25rem;">
                    <a href="#"><img src="https://png.pngtree.com/element_origin_min_pic/00/00/06/12575cb97a22f0f.jpg" class="card-img-top"></a>
                    <div class="card-body">
                        <h5 class="card-title">Usuarios</h5>
                        
                        <p class="card-text">This is some text within a card body.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card"  style="width: 25rem;">
                   <a href="#"> <img src="https://uploads-ssl.webflow.com/5d66946a1b07767aacb25958/5d7eda6e17c02c2014e028c9_Icono-Mi-Turno-Azul.png" class="card-img-top"></a>
                    <div class="card-body">
                        <h5 class="card-title">Turnos</h5>
                        <p class="card-text">This is some text within a card body.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4"  style="width: 25rem;">
                <div class="card">
                    <a  href="#"><img src="https://www.blueindic.com/wp-content/uploads/2017/03/factura-01.png" class="card-img-top"></a>
                    <div class="card-body">
                        <h5 class="card-title">Facturas</h5>
                        <p class="card-text">This is some text within a card body.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card 4</h5>
                        <p class="card-text">This is some text within a card body.</p>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card 5</h5>
                        <p class="card-text">This is some text within a card body.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>

</html>
{% endblock %}
